a[title] {
    color: green;
    font-size: 15px;
}
a[href="https://www.link-academy.com"] {
    color:rgb(255, 115, 0);
    font-size: 25px;
}
a[href *= "#en/ro/" ] { 
    color: blue; 
 } 
a[href *= "#fr/ro/"] {
    color:aqua 
 } 
a[href *= "#it/ro/"] { 
    color: red;
 }
 a[href ^="https"]{
     text-transform: uppercase;
 }
 a[href $=".com"]{
     text-decoration: none;
     font-style: italic;
    }
  a[data-info~="extern"] {
       color: red;
    }

a[data-info~="intern"] {
   border: 1px solid black;
}
 p:empty{ display:none;}

 ul#meniu{
     list-style: none;
 }
 ul#meniu li {
     display: inline-block;
     padding: 5px 15px;
 }