#heart{
    position: relative;
    width: 100px;
    height: 60px;
    display: inline-block;
}
#heart:before, #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background:#aa0000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    animation: pulsecore 1s infinite;
}
#wrapper {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    animation: pulse 1s infinite;
}
.text {

    margin: 250px;
    font-size: 50px;
    font-weight: bold;
    color: red;
    animation:pulsecore 1s infinite;
}
#heart:after {
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    left: 0%;

}@keyframes pulsecore  {
    10% {background:  blue;}
}@keyframes pulse{
    10%{transform: scale(1.1);}
} 